* {
    margin: 0;
    padding: 0;
    font-family: 'Cascadia Code', monospace;
    color: white;
}

body  {
    min-height: 100vh;
    background: #020024;
    background: linear-gradient(rgba(2, 0, 36, 1), rgba(9, 9, 121, 1), rgba(144, 75, 235, 1));

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: block;
    background-color: #3e3866;
    width: 550px;
    /* height: 700px; */
    height: fit-content;

    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

main h1 {
    text-align: center;
    margin-top: 10px;
}

div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 5px; 
    background-color: #1f1d2b55;
    border-radius: 15px;
    width: 98%;
}

.calculatorBar {
    height: 130px;
    grid-column: span 4;
    background-color: #181818;
    border-radius: 25px;
    margin: 25px 10px 30px 10px;
    text-align: center;
    font-size: 35px;
    line-height: 130px;
}

.calculatorBar p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

button {
    min-height: 100px;
    margin: 5px;
    border-radius: 10px;
    font-size: 40px;
    
}

.numberButton {

}

.methodButton{

}

.controlButton {

}